Django>=3.2,<4.0
psycopg2-binary>=2.9.1
djangorestframework>=3.12.0
factory-boy>=3.2.0
pydantic>=1.8.2
python-dotenv>=0.19.0
gunicorn>=20.1.0
whitenoise>=5.3.0
pytest>=7.3.1
pytest-django>=4.5.2
pytest-asyncio>=0.21.0
Pillow>=10.0.0  # For image processing (OCR)
python-tesseract>=0.3.10  # For OCR
celery>=5.3.4  # For async tasks
python-dateutil>=2.8.2 
